@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --text: #fff;

  --primary-100: #DEE3EA;
  --primary-200: #B2BDCD;
  --primary-300: #5D7290;
  --primary-400: #4F617A;
  --primary-500: #404F64;
  --primary-600: #323D4D;
  --primary-700: #242C37;
  --primary-800: #151A21;
  --primary-900: #0B0E11;

  --background: var(--primary-800);

  --accent: #F07606;
  --secondary: #42D0D9;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: var(--background);
}

#__next {
  display: block;
  
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;
  
  color: #fff;
  font-family: Roboto;
}

a {
  color: var(--accent);
}

*::-webkit-scrollbar { 
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}