.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  width: 100vw;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 3px solid var(--accent);
  background-color: var(--background);
}

.navbar__logo {
  margin-left: 20px;

  width: 40px;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.navbar__item {
  margin-right: 50px;
}
.navbar__link {
  color: #FFF !important;
  text-decoration: none;
  font-size: 25px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.pages__wrapper {
  flex-grow: 1;
  overflow: auto;
}
.pages {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.page {
  width: 100vw;
  height: 100vh;

  --margin: calc(var(--cover) - 1);
  --divider: min(1, var(--margin));
  --actual-progress: calc((var(--gprogress) - var(--location)) / var(--divider));
  --local-progress: clamp(0, var(--actual-progress), 1);

  --top: calc(var(--margin) * var(--local-progress));
  --bottom: calc(var(--margin) - var(--top));

  margin-top: calc(var(--top) * 100vh);
  margin-bottom: calc(var(--bottom) * 100vh);

  display: flex;
  align-items: center;
  justify-content: center;

  --oscale: calc(1.25 - var(--progress) * 2);
  --scale: clamp(0, var(--oscale), 1);

  transform: scale(var(--scale), var(--scale));
}
.page::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: calc((1 - var(--local-progress)) * 100vw);
  height: 1px;
  background: var(--accent);
}

.page__title {
  width: auto;
  height: auto;

  font-size: 80px;
  line-height: 100px;

  text-align: center;
  white-space: pre;
}
.page__testbg {
  position: absolute;
  z-index: -5;

  width: 50%;
  height: 100%;

  background-color: #F07606;
  transform: translateX(calc(-50% + var(--local-progress) * 100%));
}